<p>Hi <%= @guest.first_name %>,</p>

<p>
  This is a reminder for <%= @wedding.title %>.<br>
  The wedding is coming up soon.
</p>

<p>
  Please confirm your RSVP:
</p>

<p style="text-align: center; margin: 24px 0;">
  <a href="<%= @rsvp_url %>" class="btn">RSVP Now</a>
</p>

<p>
  Thank you.
</p>
