<!DOCTYPE html>
<html>
  <head>
    <title>Print Invitations</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <style>
      @media print {
        body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
        .print\\:hidden { display: none !important; }
      }
    </style>
  </head>
  <body class="bg-white">
    <%= yield %>
  </body>
</html>
